.btn {
    background: #2EE5AC;
    border-radius: 10px;
    width: 95px;
    height: 30px;
    border-radius: 10px;
}

.btn-text {
    margin: 0 auto;
}

.results {
    background: #2EE5AC;
}

.finalize {
    background: #7D7D7D;
}